*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.backgroundGame{
    background-image: url('images/square-2724369_640.jpg');
    background-repeat: repeat;
    background-size: auto;
}
#game {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        padding-left: 12px;

}
.character1{
    margin-top: 20px;
    left: 390px;
    width: 70px;
    height: 70px;
    position: absolute;
}
.speech-bubble {
    position: absolute;
    width: 150px;
    top: 320px;
    left: 350px;
}
.speech-bubble.hidden{
    display: none;
}
.character2{
    display: inline;
    margin-top: 45px;
    width: 70px;
    height: 70px;
    position: absolute;
}
.alert{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 5rem;
    margin-left: 15px;
}
.text-alert{
    margin: 0;
}
