*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.backgroundGame{
    background-image: url('images/square-2724369_640.jpg');
    background-repeat: repeat;
    background-size: auto;
}
#game {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        padding-left: 12px;

}
.character1{
    margin-top: 25px;
    width: 70px;
    height: 70px;
    position: absolute;
}
.character2{
    display: inline;
    margin-top: 45px;
    width: 70px;
    height: 70px;
    position: absolute;
}